<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novel.dao.NovelMapper">
    <resultMap id="novel" type="com.example.novel.po.Novel">
        <id column="id" property="id"></id>
        <collection property="comments" select="com.example.novel.dao.CommentMapper.getByNovelId" column="id" ></collection>
    </resultMap>
    <select id="getNovelById" resultMap="novel" parameterType="java.lang.Long">
        SELECT * FROM novel WHERE id=#{id}
    </select>
</mapper>