<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.novel.dao.UserMapper">

    <select id="getByUsernameAndPassword" resultType="com.example.novel.po.User" parameterType="java.lang.String">
        SELECT * FROM user WHERE username = #{username} And password = #{password}
    </select>

    <insert id="insertOne" parameterType="com.example.novel.po.User" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO user (username, password) VALUES (#{user.username},#{user.password})
    </insert>

    <select id="getByUsername" resultType="com.example.novel.po.User" parameterType="java.lang.String">
        SELECT * FROM user WHERE username = #{username}
    </select>
</mapper>